
.idea/LaboratorioColecciones.iml
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/laboratory.cpython-37.pyc
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
custom_methods/__pycache__/__init__.cpython-37.pyc
custom_methods/__pycache__/temperature_methods.cpython-37.pyc
custom_functions/__pycache__/__init__.cpython-37.pyc
custom_functions/__pycache__/temperature_methods.cpython-37.pyc
